---
title: Home
layout: default
intro: Musical Confidence is a professional music studio based in Philadelphia, PA.
---

<section class="pa4 wow animated fadeInDown">
  <h1 class="f1 f-subheadline-ns measure lh-title">{{ page.intro }}</h1>
</section>

<section class="wow animated fadeInDown">
  <img class="db w-100" src="https://source.unsplash.com/random/1600x640" alt="">
</section>

<section class="w-100 pa4 bg-white">
  <h1 class="f1 measure lh-title -tight">Latest</h1>
  <center class="mv4 dt tl w-100">
    {% for collection in site.collections %}

    {% if collection.label == 'lessons' %}
    <figure class="dt-row dtc-ns w-100 w-third-ns pa4 bg-near-white">
      <label class="ttu b lh-copy light-silver"><small>{{ collection.label }}</small></label>
      {% for upcoming in collection.docs limit:'3' %}
      <header class="f6 normal lh-copy ttc  wow animated fadeInDown">{{ upcoming.title }}</header>
      <date class="db pv2">
        <a href="{{ upcoming.url }}" class="link -tight b ttu no-underline dark-gray hover-green">
          {% assign d = upcoming.date | date: "%-d"  %}
          {{ upcoming.date | date: "%A" }}
          {{ upcoming.date | date: "%b" }}
          {% case d %}
            {% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>
            {% when '2' or '22' %}{{ d }}<sup>nd</sup>
            {% when '3' or '23' %}{{ d }}<sup>rd</sup>
            {% else %}{{ d }}<sup>th</sup>
          {% endcase %}
        </a>
      </date>
      {% endfor %}
    </figure>
    {% endif %}

    {% if collection.label == 'music' %}
    <figure class="dt-row dtc-ns w-100 w-third-ns pa4 bg-light-gray">
      <label class="ttu b lh-copy light-silver"><small>{{ collection.label }}</small></label>
      {% for featured in collection.docs %}
      <article>
        <header class="f6 normal lh-copy ttc ">{{ featured.title }}</header>
        <div class="mv2 flex overflow-hidden f6 lh-solid measure-wide tc bg-near-black">
          <div class="white bg-green" role="progressbar" style="width: 25%; height: 1px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <button class="link bn dark-gray bg-transparent hover-green">
          <small>
          <i class="fa fa-backward"></i>
          </small>
        </button>
        <button class="link bn dark-gray bg-transparent hover-green">
          <small>
          <i class="fa fa-pause"></i>
          </small>
        </button>
        <button class="link bn dark-gray bg-transparent hover-green">
          <small>
          <i class="fa fa-play"></i>
          </small>
        </button>
        <button class="link bn dark-gray bg-transparent hover-green">
          <small>
          <i class="fa fa-forward"></i>
          </small>
        </button>
      </article>
      {% endfor %}
    </figure>
    {% endif %}

    {% if collection.label == 'tutorials' %}
    <figure class="dt-row dtc-ns w-100 w-third-ns pa4 bg-near-white">
      <label class="ttu b lh-copy light-silver"><small>{{ collection.label }}</small></label>
      {% for featured in collection.docs %}
      <article class="wow animated fadeInDown">
        <header class="f4 lh-title -tight">
          <a href="{{ featured.url }}" class="link -tight b ttu no-underline near-black hover-green">{{ featured.title }}</a>
        </header>
      </article>
      {% endfor %}
    </figure>
    {% endif %}

    {% endfor %}
  </center>
</section>

<section class="dt-ns w-100 bg-near-white wow animated fadeInUp" id="contact">
  <div class="db dtc-ns w-100 w-50-ns ph4 pv6">
    <h2 class="f2 lh-title -tight">Contact</h2>
    <address class="fs-normal">
      <label class="mv2 ttu b lh-copy light-silver"><small>{{ site.title }}</small></label>
      <ul class="list pa0 mv0 lh-copy">
        <li><a class="link underline near-black hover-blue" href="mailto:email@domain.com"><small><abbr title="Email" aria-hidden="true"><i class="fa fa-fw fa-envelope"></i></abbr>email@domain.com</a></small></li>
        <li><a class="link underline near-black hover-blue" href="tel:13472211926"><small><abbr title="Phone"><i class="fa fa-fw fa-phone" aria-hidden="true"></i></abbr>(123) 456-7890</a></small></li>
        <li><a class="link underline near-black hover-blue" href="https://goo.gl/maps/ePAZK239wrC2" target="_blank"><small><abbr title="Location"><i class="fa fa-fw fa-globe" aria-hidden="true"></i></abbr>Philadelphia, NY</a></small></li>
      </ul>
    </address>
  </div>
  <div class="dn dtc-ns w-100 w-50-ns relative">
    <div id="map" class="absolute absolute--fill wow animated fadeIn" style="background-color:transparent"></div>
  </div>
</section>
