<footer class="pa4">
  <ul class="list pa0 lh-copy">
    {% assign pages = site.pages | sort:'position'  %}
    {% for page in pages %}
    {% if page.layout == 'policy' %}
    <li class="dib mr2">
      <a class="link underline near-black hover-blue" href="{{ page.url }}" data-scroll><small>{{ page.title }}</small></a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  <small class="db mv2 lh-copy">Copyright<i class="fa fa-fw fa-copyright"></i>{{ site.time | date: "%Y" }} {{ site.title }} Music. All rights reserved.</small>
  <small class="db mv2 lh-copy">Made with <i class="fa fa-heart"></i> in Philadelphia, PA.</small>
  <a class="db link underline-hover gray" href="#content" data-scroll><small>Back to Top</small></a>
</footer>
